# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET=""

# Next Auth Discord Provider
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""

# R2 keys
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=

# Bucket name
R2_BUCKET=2kki-navigator
# Bucket request endpoint
R2_ENDPOINT=https://ec003bf35eea24937e0319711fce17a6.r2.cloudflarestorage.com
R2_ACCOUNT_ID=

# Database stuff
POSTGRES_URL=
POSTGRES_PRISMA_URL=
SUPABASE_URL="https://grlbmqllepiruhkuofyz.supabase.co"
NEXT_PUBLIC_SUPABASE_URL="https://grlbmqllepiruhkuofyz.supabase.co"
POSTGRES_URL_NON_POOLING=
SUPABASE_JWT_SECRET=
POSTGRES_USER=
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdybGJtcWxsZXBpcnVoa3VvZnl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI4Mzc4ODksImV4cCI6MjA1ODQxMzg4OX0.-jg2bjDnZGErCn7Po9ySDnqYpGfNiu31ap1aKZ79cQs"
POSTGRES_PASSWORD=
POSTGRES_DATABASE="postgres"
SUPABASE_SERVICE_ROLE_KEY=
POSTGRES_HOST="db.grlbmqllepiruhkuofyz.supabase.co"
SUPABASE_ANON_KEY=